.footer {
  color: var(--text-color);
  background-color: var(--background-color);
  width: 80%;
  margin: 0 auto;
  padding: 4rem 0;

  .name {
    font-size: 2rem;
    font-weight: 600;
  }

  .cat-home-button {
    margin: 1rem 0;
  }

  .horizontal {
    color: var(--faded-color);
    margin: 0 0 0.5rem 0;
  }

  .rights {
    color: var(--faded-color);
    font-size: 1.2rem;
  }

}
