<section class="skills-container" [ngClass]="{'dark': isDarkMode}" id="skills">
  <section></section> <!-- Empty div for gutter space -->

  <section class="skills-main">
    <section class="skills-heading gradient-text">
      <h1 class="sj-display-flex sj-items-center skills-heading-size">My Skills&nbsp;<span class="material-symbols-outlined skills-heading-size">
          star_shine
        </span>
      </h1>
    </section>

    <section class="sj-display-flex sj-items-center sj-gap-2 sj-justify-center">
      <ul>
        <li class="skills-item">
          <section class="skills-left">
            <img src="aiml.png" alt="AI/ML image" class="skills-image">
          </section>
          <section class="skills-right">
            <h1 class="skills-title gradient-text sj-display-flex sj-items-center">AI/ML&nbsp;<span class="material-symbols-outlined skills-title">
                network_intel_node
              </span>
            </h1>
            <p class="skills-description">
            I have a strong foundation in AI/ML concepts and algorithms, with hands-on experience in building and deploying machine learning models.
            </p>
          </section>
        </li>

        <li class="skills-item">
          <section class="skills-left">
            <h1 class="skills-title gradient-text sj-display-flex sj-items-center">Baking&nbsp;<span class="material-symbols-outlined skills-title">
                cookie
              </span>
            </h1>
            <p class="skills-description">
            I enjoy baking and love making delicious cakes and pastries.
            It's a creative outlet for me that allows me to express my artistic side while also enjoying the process of creating something tasty.
            </p>
          </section>
          <section class="skills-right">
            <img src="baking.png" alt="AI/ML image" class="skills-image">
          </section>
        </li>

        <li class="skills-item">
          <section class="skills-left">
            <img src="sketching.jpg" alt="AI/ML image" class="skills-image">
          </section>
          <section class="skills-right">
            <h1 class="skills-title gradient-text sj-display-flex sj-items-center">Sketching&nbsp;<span class="material-symbols-outlined skills-title">
                draw
              </span>
            </h1>
            <p class="skills-description">
            One of the best way I spend my free time is by sketching and drawing.
            </p>
          </section>
        </li>

      </ul>
    </section>

  </section>

  <section></section> <!-- Empty div for gutter space -->

</section>
