<section class="follow" id="contact">
  <section class="follow-inner">
    <section class="follow-left">
    <h1 class="follow-title gradient-text">Follow Me&nbsp;<span class="material-symbols-outlined follow-title gradient-text-2">
        south_west
      </span>
    </h1>
    <ul class="follow-list">
      <li class="follow-item">
        <a href="https://www.linkedin.com/in/stuti-juneja-7833161b3/" target="_blank" class="follow-link">
          <img src="linkedin.gif" alt="LinkedIn icon" class="follow-icon">
        </a>
      </li>
      <li class="follow-item">
        <a href="https://www.instagram.com/__.xaurora_._/" target="_blank" class="follow-link">
          <img src="instagram.gif" alt="Instagram icon" class="follow-icon">
        </a>
      </li>
      <li class="follow-item">
        <a href="https://github.com/Stutijuneja" target="_blank" class="follow-link">
          <img src="github.gif" alt="Github icon" class="follow-icon">
        </a>
      </li>
    </ul>
    </section>

    <section class="follow-right">
      <sj-heart></sj-heart>
    </section>
  </section>
</section>
