<div class="education-container" [ngClass]="{'dark': isDarkMode}" id="education">
  <div></div>
  <div class="education-main sj-display-flex sj-items-center sj-gap-2 sj-justify-center">
    <div class="education-left">
      <h1 class="education-title gradient-text sj-display-flex sj-items-center">Education <span class="material-symbols-outlined education-title">
          school
        </span></h1>

        <ul class="education-list">
          <li>
            <h2 class="edu-heading">Bachelor of Technology in Computer Science</h2>
            <section class="education-subtitle">
              <p>SRM Institute of Science and Technology, Chennai</p>
              <p>August 2019 - May 2023</p>
              <p>CGPA: 9.1</p>
              <p>Specialization in Artificial Intelligence and Machine Learning</p>
            </section>
          </li>

          <li>
            <h2 class="edu-heading">Krishna Public School</h2>
            <section class="education-subtitle">
              <p>Class 12th - 93.6%</p>
              <p>Class 10th - 92%</p>
            </section>
          </li>

        </ul>

    </div>
    <div class="education-right">
      <img src="education.jpg" alt="Education image" class="education-image">
    </div>
  </div>
  <div></div>
</div>
