/* You can add global styles to this file, and also import other style files */


:root {
  --primary-color: #d65f1a;
  --secondary-color: #333;
  --text-color: #333;
  --background-color: #fff;
  --faded-color: rgba(0, 0, 0, 0.5);
  --inverse-faded-color: rgba(255, 255, 255, 0.8);
  --mat-toolbar-container-background-color: var(--background-color);
  --mat-sidenav-container-background-color: var(--background-color);
  --mat-sidenav-content-background-color: var(--background-color);
}

.dark {
  --primary-color: #d65f1a;
  --secondary-color: #f1f1f1;
  --text-color: #f1f1f1;
  --background-color: #000;
  --faded-color: rgba(255, 255, 255, 0.5);
  --inverse-faded-color: rgba(0, 0, 0, 0.8);
  --mat-toolbar-container-background-color: var(--background-color);
  --mat-sidenav-container-background-color: var(--background-color);
  --mat-sidenav-content-background-color: var(--background-color);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  scroll-behavior: smooth;
  scrollbar-color: var(--primary-color) transparent;
  scrollbar-width: thin;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--background-color);
}

@media only screen and (max-width: 600px) {
  .mobile {
    display: initial;

  }

  .desktop {
    display: none;
  }
}

@media only screen and (min-width: 601px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: initial;
  }
}

.gradient-text {
  background: linear-gradient(90deg, var(--primary-color), magenta);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sj-display-flex {
  display: flex;
}

.sj-gap-2 {
  gap: 2rem;
}

.sj-items-center {
  align-items: center;
}

.sj-justify-center {
  justify-content: center;
}

.sj-padding-1 {
  padding: 1rem;
}

.sj-padding-2 {
  padding: 2rem;
}

.sj-padding-1-2 {
  padding: 1rem 2rem;
}

.sj-margin-1 {
  margin: 1rem;
}

::selection {
  background-color: var(--primary-color) !important;
  color: var(--background-color) !important;
  -webkit-text-fill-color: var(--background-color) !important;
}
