<div class="about-container" id="about">
  <div></div> <!-- Empty div for gutter space -->
  <div class="about-me sj-display-flex sj-items-center sj-gap-2">
    <div class="about-left">
      <img src="aboutme.jpg" alt="Working image" class="about-image">
    </div>

    <div class="about-right">
      <h1 class="about-title gradient-text sj-display-flex sj-items-center">About Me <span class="material-symbols-outlined about-title">
          south_east
        </span></h1>
        <p>
        I am a Business Technology Solutions Associate at ZS Associates,
        where I work on developing and implementing technology solutions to drive business efficiency and innovation.
        </p>
        <br>
        <p>
        I hold a Bachelor's degree in Computer Science with specialization in AI/ML from SRM Institute of Science and Technology, where I graduated with a CGPA of 9.1.
        </p>
        <br>
        <p>
        I like to code and in my free time I enjoy listening to music and do sketching. I have also keen interest in exploring new technologies and learning new skills.
        </p>
    </div>
  </div>
  <div></div> <!-- Empty div for gutter space -->
</div>
